<%- include("partials/header"); -%>

<div class="container">
  <div class="row">
    <div class="col-sm description">
      <h1 class="crypto">Apple mac</h1>
      <h3 class="crypto">2008–present</h3>
      <pre class="crypto">
        “You have to be burning with an idea,
         or a problem, or a wrong that you
         want to right. If you're not passionate
          enough from the start, you'll never
           stick it out.”
          ― Steve Jobs
</pre>
    </div>
    <div class="col-sm">
        <img class="image" src="http://localhost:5000/images/dp.jpg" style="width:600px;height:400px;alt="">
    </div>
  </div>
</div>


<%- include("partials/footer"); -%>
