<%- include("partials/header"); -%>

<form class="container mt-4" action="/products" method="POST">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <select class="form-control" name="product[company_name]">
          <option value="" selected disabled>company name</option>
          <option>Apple</option>
          <option>Dell</option>
          <option>Samsung</option>
          <option>HP</option>
        </select>
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" name="product[product_name]" placeholder="Product name">
      </div>
      <div class="col-sm">
       <input type="number" class="form-control" name="product[price]" placeholder="Price">
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-sm">
        <input type="text" class="form-control" placeholder="Display size" name="product[display_size]">
      </div>
      <div class="col-sm">
        <select class="form-control" name="product[generation]">
          <option value="" selected disabled>Generation</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </div>
      <div class="col-sm">
        <select class="form-control" name="product[processor]">
          <option value="" selected disabled>Processor</option>
          <option>i3</option>
          <option>i5</option>
          <option>i7</option>
          <option>i9</option>
        </select>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-sm">
        <select class="form-control" name="product[operating_system]">
          <option value="" selected disabled>Operating System</option>
          <option>windows 10</option>
          <option>windows 8</option> 
          <option>DOS</option>
          <option>MAC OS</option>
          <option>Linux/Ubuntu</option>  
        </select>
      </div>
      <div class="col-sm">
        <select class="form-control" name="product[battry_life]">
          <option value="" selected disabled>Battry Life</option>
          <option>5</option> 
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
        </select>
      </div>
      <div class="col-sm">
        <select class="form-control" name="product[keyboard_light]">
          <option value="" selected disabled>Keyboard Light</option>
          <option>YES</option>
          <option>NO</option>
        </select>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-sm">
        <select class="form-control" name="product[ram]">
          <option value="" selected disabled>RAM</option>
          <option>4 GB</option>
          <option>8 GB</option> 
          <option>16 GB</option>
          <option>32 GB</option>
          <option>64 GB</option>  
        </select>
      </div>
      <div class="col-sm">
        <select class="form-control" name="product[ssd]">
          <option value="" selected disabled>SSD</option>
          <option>64</option> 
          <option>128</option>
          <option>256</option>
          <option>512</option>
          <option>1024</option>
        </select>
      </div>
      <div class="col-sm">
        <select class="form-control" name="product[hdd]">
          <option value="" selected disabled>HDD</option>
          <option>128 GB</option> 
          <option>256 GB</option>
          <option>512 GB</option>
          <option>1 TB</option>
          <option>2 TB</option>
          <option>4 TB</option>
          <option>8 TB</option>
        </select>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-sm">
        <select class="form-control" name="product[tag]">
          <option value="" selected disabled>Good For</option>
          <option >Gamming</option>
          <option >Video Editing</option>
          <option >Development</option>
          <option >Students</option>
        </select>
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" name="product[url]" placeholder="Image Url">
      </div>
      <div class="col-sm">
        <button type="submit" class="form-control btn btn-md btn-primary"> submit</button>
      </div>
    </div>
  </div>
</form>
<%- include("partials/footer"); -%>
